Flask==3.0.3
Flask-Cors==4.0.1
pymongo==4.10.1
Werkzeug==3.0.3

google-generativeai==0.7.2
google-cloud-translate==3.19.0
googletrans==4.0.0rc1
translate==3.6.1

reportlab==4.2.5
markdown2==2.5.3
requests==2.32.3

beautifulsoup4==4.13.3
pyttsx3==2.98
SpeechRecognition==3.13.0
pytz==2024.1
Pillow==10.4.0
python-dotenv==1.0.1
